<div class="ss_top_slider_wrapper">
			<div id="theme-main-banner">
				<div data-src="assets/images/content/slide1.jpg">
					<div class="camera_caption">
						<div class="container ss_slider_wrapper">
							<h3 class="wow fadeInUp animated" data-wow-delay="0.1s">Only This Week!</h3>
							<div class="clearfix"></div>
							<h2 class="wow fadeInUp animated" data-wow-delay="0.1s">20% OFF</h2>
							<div class="clearfix"></div>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.1s">iPhone7 Plus</h1>
							<div class="clearfix"></div>
							<p class="wow fadeInUp animated" data-wow-delay="0.4s">Available for Rose Gold, Silver, Gold, White,
								<br>Black, Jet Black and Red..</p>
							<div class="clearfix"></div>	<a href="#" class="wow fadeInUp animated" data-wow-delay="0.4s">buy now!</a>
						</div>
						<!-- /.container -->
					</div>
					<!-- /.camera_caption -->
				</div>
				<div data-src="assets/images/content/slide2.jpg">
					<div class="camera_caption">
						<div class="container ss_slider_wrapper">
							<h3 class="wow fadeInUp animated" data-wow-delay="0.1s">Only This Week!</h3>
							<div class="clearfix"></div>
							<h2 class="wow fadeInUp animated" data-wow-delay="0.1s">20% OFF</h2>
							<div class="clearfix"></div>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.1s">iPhone7 Plus</h1>
							<div class="clearfix"></div>
							<p class="wow fadeInUp animated" data-wow-delay="0.4s">Available for Rose Gold, Silver, Gold, White,
								<br>Black, Jet Black and Red..</p>
							<div class="clearfix"></div>	<a href="#" class="wow fadeInUp animated" data-wow-delay="0.4s">buy now!</a>
						</div>
						<!-- /.container -->
					</div>
					<!-- /.camera_caption -->
				</div>
			</div>
			<!-- /#theme-main-banner -->
		</div>