<app-header></app-header>
<app-middle-header></app-middle-header>
<!-- Slider Wrapper End -->
<!-- ss inner title Wrapper Start -->
<div class="ss_inner_title_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ss_inner_title_cont_wrapper">
                    <ul>
                        <li><a href="#"><i class="fa fa-home"></i></a>&nbsp;&nbsp; ></li>
                        <li>Products&nbsp;&nbsp; ></li>
                        <li>Details&nbsp;&nbsp; </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ss inner title Wrapper End -->
<!-- CC ps top product Wrapper Start -->
<div class="cc_ps_top_product_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="video_img_section_wrapper">
                    <div class="video_nav_img hidden-xs">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <a class="button secondary url owl_nav" href="#zero">
                                <img src="images/content/li_img1.jpg" class="img-responsive" alt="nav_img">
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc_ps_tabs">
                            <a class="button secondary url owl_nav" href="#one">
                                <img src="images/content/li_img2.jpg" class="img-responsive" alt="nav_img">
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc_ps_tabs">
                            <a class="button secondary url owl_nav" href="#two">
                                <img src="images/content/li_img3.jpg" class="img-responsive" alt="nav_img">
                            </a>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cc_ps_tabs">
                            <a class="button secondary url owl_nav" href="#three">
                                <img src="images/content/li_img4.jpg" class="img-responsive" alt="nav_img">
                            </a>
                        </div>
                    </div>
                    <div class="cc_ps_top_slider_section">
                        <div class="owl-carousel owl-theme">
                            <div class="item" data-hash="zero">
                                <img class="small img-responsive" src="images/content/li_img1.jpg" alt="small_img" />
                            </div>
                            <div class="item" data-hash="one">
                                <img class="small img-responsive" src="images/content/li_img2.jpg" alt="small_img" />
                            </div>
                            <div class="item" data-hash="two">
                                <img class="small img-responsive" src="images/content/li_img3.jpg" alt="small_img" />
                            </div>
                            <div class="item" data-hash="three">
                                <img class="small img-responsive" src="images/content/li_img4.jpg" alt="small_img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="video_nav_img visible-xs">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#zero">
                                                <img src="images/content/li_img1.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#one">
                                                <img src="images/content/li_img2.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#two">
                                                <img src="images/content/li_img3.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#three">
                                                <img src="images/content/li_img4.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="cc_ps_cart_btn_wrapper">
                                    <div class="cc_ps_cart_btn">
                                        <ul>
                                            <li><a href="" routerlink="/checkout"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                            </li>
                                            <li><a href="#"><i class="fa fa-expand"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_shop_single_prod_right_section">
                  


                    <div class="btc_shop_prod_quanty_bar">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width">
                                <div class="cc_ps_quantily_info">
                                    <div class="select_number">
                                        <button onclick="changeQty(1); return false;" class="increase"><i class="fa fa-plus"></i>
                                        </button>
                                        <input type="text" name="quantity" value="1" size="2" id="input-quantity" class="form-control" />
                                        <button onclick="changeQty(0); return false;" class="decrease"><i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <input type="hidden" name="product_id" />
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width">
                                <div class="cc_ps_color_selectobx">
                                    <select>
                                        <option>Size List</option>
                                    </select><i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full_width">
                                <div class="cc_ps_color_selectobx">
                                    <select>
                                        <option>Color</option>
                                    </select><i class="fa fa-caret-down"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CC ps top product Wrapper End -->
<!-- accordion section start -->

<!-- accordion section end -->
<!-- Latest Products Wrapper Start -->
<div class="ss_footer_wrapper">
    <app-footer-up></app-footer-up>
    <app-footer-middle></app-footer-middle>
    <app-footer-down></app-footer-down>
  </div>