<div class="ss_newsletter_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="ss_newsletter_text">
                    <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> subscribe Our Newsletter</h3>
                </div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div class="ss_newsletter_field">
                    <input type="text" placeholder="Type your email address...">
                    <button type="submit">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>