<app-header></app-header>

<div class="container">
  <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
      <div class="col-md-9">
        <div class="ibox">
          <div class="ibox-title">
            <span class="pull-right">(<strong>{{ getTotalItems() }}</strong>) items</span>
            <h5>Items in your cart</h5>
          </div>
          <div class="ibox-content">
            <div class="table-responsive">
              <table class="table shopping-cart-table">
                <tbody>
                  <tr *ngFor="let ligne of lignesPanier">
                    <td width="90">
                      <img [src]="ligne.image" alt="" />
                    </td>
                    <td class="desc">
                      <h3>
                        <a href="#" class="text-navy">{{ ligne.title }}</a>
                      </h3>
                      <dl class="small m-b-none">
                        <dt>{{ ligne.description }}</dt>
                      </dl>
                      <div class="m-t-sm">
                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a> |
                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                      </div>
                    </td>
                    <td width="80">
                      <input type="number" class="form-control" min="1" [value]="ligne.quantite" />
                    </td>
                    <td>
                      <h4>{{ ligne.price | currency }}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="lignesPanier.length === 0">
              <p>No items in the cart.</p>
            </div>
          </div>
        </div>
        <div class="ibox-content">
          <button class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="ibox">
          <div class="ibox-title">
            <h5>Cart Summary</h5>
          </div>
          <div class="ibox-content">
            <span>Total</span>
            <h2 class="font-bold">{{ getTotal() | currency }}</h2>
            <hr />
            <div class="m-t-sm">
              <div class="btn-group">
                <a href="#" class="btn btn-primary btn-sm" routerLink="/payment"><i class="fa fa-shopping-cart"></i> Checkout</a>
                <a href="#" class="btn btn-white btn-sm">Cancel</a>
              </div>
            </div>
          </div>
        </div>
        <div class="ibox">
          <div class="ibox-title">
            <h5>Support</h5>
          </div>
          <div class="ibox-content text-center">
            <h3><i class="fa fa-phone"></i> 0652012365</h3>
            <span class="small">Please contact with us if you have any questions. We are available 24h.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ss_footer_wrapper">
  <app-footer-up></app-footer-up>
  <app-footer-middle></app-footer-middle>
  <app-footer-down></app-footer-down>
</div>
--------