<div class="ss_news_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ss_heading_box">
                    <div class="ss_heading">
                        <h3>Our Store News</h3>
                    </div>
                </div>
                <div class="ss_news_slider">
                    <div class="owl-carousel owl-theme">
                    <app-news-item image="assets/images/photoproducts/product-8.jpg"></app-news-item>
                    <app-news-item image="assets/images/photoproducts/product-10.jpg"></app-news-item>
                    <app-news-item image="assets/images/photoproducts/product-12.jpg"></app-news-item>
                </div>
            </div>
        </div>
    </div>
</div>