<div class="ss_categories_box">
    <nav>
        <ul class="list-group vertical-menu yamm make-absolute">
            <li class="list-group-item"><span><i class="fa fa-list-ul"></i> All Departments</span>
            </li>
            <app-item title="Men" icon="fa-male"></app-item>
            <app-item title="Women" icon="fa-female"></app-item>
            <li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">	<a title="Car, Motorbike &amp; Industrial" data-hover="dropdown" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa fa-plus" aria-hidden="true"></i> More Category</a>
            </li>
        </ul>
    </nav>
</div>