<div class="ss_proadd_wrapper ss_proadd_top_wrapper">
    <div class="container">
        <div class="row">
            <app-wrapper-child title="Mobile Charger" description="Aenean sollicitudin, lorem quis" price="399$"             
            link="#" image="assets/images/content/add_charg.png" alt="charger"  it="Charger"></app-wrapper-child>
            <app-wrapper-child title="Mobile Charger" description="Aenean sollicitudin, lorem quis" price="399$"             
            link="#" image="assets/images/content/add_charg.png" alt="charger"  it="Charger"></app-wrapper-child>
        </div>
    </div>
</div>