<div class="ss_services_wrapper">
    <div class="container">
        <div class="row">
           <app-box icon="fa-product-hunt" title="loremepsum" description="choosing a description can be benefic to the store"></app-box> 
           <app-box icon="fa-product-hunt" title="loremepsum" description="choosing a description can be benefic to the store"></app-box> 
           <app-box icon="fa-product-hunt" title="loremepsum" description="choosing a description can be benefic to the store"></app-box> 
        </div>
    </div>
</div>
