<div class="ss_services_wrapper">
    <div class="container">
        <div class="row">
           <app-box icon="fa-product-hunt" title=" Customizable Storefront Design" description="Create a unique online store with our customizable storefront design service. Choose from professional themes and templates, tailor your site's look and feel to match your brand, and provide an intuitive shopping experience for your customers."></app-box> 
           <app-box icon="fa-product-hunt" title="Inventory Management" description="Manage your product inventory efficiently with our advanced inventory management system. Track stock levels in real-time, automate restocking alerts, and streamline your supply chain to ensure your best-selling items are always available"></app-box> 
           <app-box icon="fa-product-hunt" title=" Secure Payment Processing" description="Offer your customers a safe and seamless checkout experience with our secure payment processing service. Support multiple payment gateways, including credit cards and PayPal, and ensure all transactions are encrypted and compliant."></app-box> 
        </div>
    </div>
</div>
