<div class="ss_latest_products_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ss_featured_products_tab">
                    <div class="ss_heading">
                        <h3>Latest Products</h3>
                    </div>
                </div>
                <div class="ss_latest_products">
                    <div class="owl-carousel owl-theme">
                        
                      <!-- <app-single-latest title="product" price="655$" Categories="category" image="assets/images/photoproducts/product-9.jpg"></app-single-latest> -->
                    <app-single-latest title="Skincare kit" price="290$" categories="Beauty" image="assets/images/photoproducts/product-9.jpg"></app-single-latest>
                    <app-single-latest title="Vintage Watch" price="430$" categories="Beauty" image="assets/images/photoproducts/product-10.jpg"></app-single-latest>
                    <app-single-latest title="Coco oil" price="60$" categories="Beauty" image="assets/images/photoproducts/product-11.jpg"></app-single-latest>
                    <app-single-latest title="Jogger" price="175$" categories="Beauty" image="assets/images/photoproducts/product-12.jpg"></app-single-latest>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>