<div class="ss_latest_products_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ss_featured_products_tab">
                    <div class="ss_heading">
                        <h3>Latest Products</h3>
                    </div>
                </div>
                <div class="ss_latest_products">
                    <div class="owl-carousel owl-theme">
                        
                      <app-single-latest title="product" price="655$" Categories="category" image="assets/images/content/fpro_2.jpg"></app-single-latest>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>