<div class="ss_latest_products_wrapper">
    <div class="ss_featured_products_tab">
        <div class="ss_heading">
            <h3>Best Seller</h3>
        </div>
    </div>
    <div class="ss_best_seller">
        <div class="owl-carousel owl-theme">
          
            <app-single-product title="Ananas facemask" price="70$" Categories="vetement" image="assets/images/photoproducts/product-5.jpg"
            ></app-single-product>
            <app-single-product title="Skincare pack" price="252$" Categories="vetement" image="assets/images/photoproducts/product-4.jpg"></app-single-product>
            <app-single-product title="Skincare pack" price="350$" Categories="vetement" image="assets/images/photoproducts/product-9.jpg"></app-single-product>

        </div>
    </div>
</div>