<app-header></app-header>
<app-middle-header></app-middle-header>
<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-lg-12">
            <div class="card overflow-hidden">
                <div class="card-header pb-1">
                    <h3 class="card-title mb-2">Orders History</h3>
                    <p class="fs-12 mb-0 text-muted">Below is the history of orders placed.</p>
                </div>
                <div class="card-body p-0 table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>#001</td>
                                    <td><span class="badge bg-validated">Validated</span></td>
                                    <td>2024-05-20</td>
                                    <td>$150.00</td>
                                </tr>  <tr>
                                    <td>#001</td>
                                    <td><span class="badge bg-validated">Validated</span></td>
                                    <td>2024-05-20</td>
                                    <td>$150.00</td>
                                </tr> <tr>
                                    <td>#001</td>
                                    <td><span class="badge bg-validated">Validated</span></td>
                                    <td>2024-05-20</td>
                                    <td>$150.00</td>
                                </tr>
                                <tr>
                                    <td>#002</td>
                                    <td><span class="badge bg-pending">Pending</span></td>
                                    <td>2024-05-18</td>
                                    <td>$100.00</td>
                                </tr>
                                <tr>
                                    <td>#003</td>
                                    <td><span class="badge bg-cancelled">Cancelled</span></td>
                                    <td>2024-05-15</td>
                                    <td>$75.50</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ss_footer_wrapper">
    <app-footer-up></app-footer-up>
    <app-footer-middle></app-footer-middle>
    <app-footer-down></app-footer-down>
</div>
