<div class="ss_top_header_wrapper">
    <div class="ss_top_left_header_wrapper">
        <ul>
            <li>
                <p>Language :<span><img src="assets/images/header/flag.png" alt="Flag" title="Flag"> English <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </p>
                <div class="ss_opener"><span><img src="assets/images/header/flag.png" alt="Flag" title="Flag"> English</span>
                    <span><img src="assets/images/header/flag.png" alt="Flag" title="Flag"> Hebrew</span>
                    <span><img src="assets/images/header/flag.png" alt="Flag" title="Flag"> Russian</span>
                    <span><img src="assets/images/header/flag.png" alt="Flag" title="Flag"> Spanish</span>
                </div>
            </li>
            <li>
                <p>Currency :<span> $ USD <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </p>
                <div class="ss_opener"><span>$ USD</span>
                    <span>$ EUR</span>
                    <span>$ BHD</span>
                    <span>$ CNY</span>
                </div>
            </li>
            <li class="ss_header_store_title"><i>Welcome to our big basket!</i>
            </li>
        </ul>
    </div>
    <div class="ss_top_right_header_wrapper">
        <ul>
            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +1 800 125 1234</a>
            </li>
            <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i> Track My Order</a>
            </li>
            <li><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i> Help Center</a>
            </li>
            <li><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i> Download App</a>
            </li>
        </ul>
    </div>
    <div class="ss_top_left_header_wrapper ss_top_right_resp_header_wrapper">
        <ul>
            <li>
                <p><span> Contact-Us <i class="fa fa-angle-down" aria-hidden="true"></i></span>
                </p>
                <div class="ss_opener"><span><a href="#"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +1 800 125 1234</a></span>
                    <span><a href="#"><i class="fa fa-truck" aria-hidden="true"></i>&nbsp;&nbsp; Track My Order</a></span>
                    <span><a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;&nbsp; Help Center</a></span>
                    <span><a href="#"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;&nbsp; Download App</a></span>
                </div>
            </li>
        </ul>
    </div>
</div>