<div class="item">
    <div class="ss_news_slider_box">
        <div class="ss_news_slider_box_img">
            <img src="{{image}}" alt="News" class="img-responsive">
            <ul>
                <li><a href="#"><i class="fa fa-comment" aria-hidden="true"></i> 50</a>
                </li>
                <li><a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> 98</a>
                </li>
            </ul>
        </div>
        <div class="ss_news_slider_box_details">
            <h4><a href="#">{{title}}</a></h4>
            <ul>
                <li><a href="#">By Admin</a>
                </li>
                <li><a href="#">{{date}}</a>
                </li>
            </ul>
            <p>{{description}}</p>	<a href="#" class="ss_rdmr">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</div>