<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="widget ss_footer_widget">
                <h4 class="widget-title"><i class="fa fa-user" aria-hidden="true"></i> My Account</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> My Account</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Personal Information</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Address</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Discount</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Order History</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="widget ss_footer_widget">
                <h4 class="widget-title"><i class="fa fa-user" aria-hidden="true"></i> Our Services</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Shipping & Return</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> International Shipping</a>
                    </li>
                    
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Careers</a>
                    </li>
                   
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Secure Shoping</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="widget ss_footer_widget">
                <h4 class="widget-title"><i class="fa fa-user" aria-hidden="true"></i> company info</h4>
                <ul>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Delivery Information</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy & Policy</a>
                    </li>
                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Terms & Conditions</a>
                    </li>
                    
                    
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="widget ss_address_widget">
                <h4 class="widget-title"><i class="fa fa-user" aria-hidden="true"></i> Get In Touch</h4>
                <ul>
                    <li>	<span>Head Office:</span>
                        <p>El Qods, lot kharbash, oujda</p>
                    </li>
                    <li>	<span>Phone:</span>
                        <p>+212 546-4981
                    </li>
                    <li>	<span>Email:</span>
                        <p><a href="#">store@faststore.com</a>
                            <br><a href="#">support@faststore.com</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>