<div class="main-content app-content">
    <div class="container-fluid">
      <!-- Page Header -->
     
      <!-- Page Header Close -->
      <!-- Start::row-1 -->
      <div class="row justify-content-center" style="margin-top: 200px;"> <!-- Ajout de la marge supérieure personnalisée -->
        <div class="col-xl-12">
          <div class="card custom-card text-center">
            <div class="card-body">
              <div class="row justify-content-center">
                <h1>Payment successful</h1>
                <span>Thank you for your payment!</span>
              </div>
              <!-- Add any additional content or message here -->
            </div>
          </div>
        </div>
      </div>
      <!--End::row-1 -->
    </div>
  </div>