<div class="ss_feat_cate_wrapper">
    <div class="ss_heading_box">
        <div class="ss_heading">
            <h3>featured categories</h3>
        </div>
    </div>
    <div class="ss_feat_cate_slider">
        <div class="owl-carousel owl-theme">
       <app-subcategories title="Beauty" icon="fa-list-alt" number="120"></app-subcategories>
       <app-subcategories title="Technology" icon="fa-list-alt" number="454"></app-subcategories>
       <app-subcategories title="Fashion" icon="fa-list-alt" number="132"></app-subcategories>
       <app-subcategories title="Accessories" icon="fa-list-alt" number="424"></app-subcategories>
       <app-subcategories title="Men" icon="fa-list-alt" number="75"></app-subcategories>
        </div>
    </div>
</div>