<div class="ss_header_wrapper">
    <div class="cd-dropdown-wrapper">
        <a class="house_toggle" href="#0">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M481.508,210.336L68.414,38.926c-17.403-7.222-37.064-4.045-51.309,8.287C2.86,59.547-3.098,78.551,1.558,96.808    L38.327,241h180.026c8.284,0,15.001,6.716,15.001,15.001c0,8.284-6.716,15.001-15.001,15.001H38.327L1.558,415.193    c-4.656,18.258,1.301,37.262,15.547,49.595c14.274,12.357,33.937,15.495,51.31,8.287l413.094-171.409    C500.317,293.862,512,276.364,512,256.001C512,235.638,500.317,218.139,481.508,210.336z" fill="#019bea"/>
                    </g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
                <g>
                </g>
            </svg>
        </a>
        <nav class="cd-dropdown">
            <h2><a href="#">big basket</a></h2>
            <a href="#0" class="cd-close">Close</a>
            <ul class="cd-dropdown-content">
                <li class="has-children">	<a href="#">Mens</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Womens</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Furniture</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Cooking</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Accessories</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Fashion</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Clocks</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Lighting</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Toys</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Sports</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Hand Made</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Electronics</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li class="has-children">	<a href="#">Cars</a>
                    <ul class="cd-secondary-dropdown is-hidden">
                        <li class="go-back"><a href="#0">Menu</a>
                        </li>
                        <li><a href="#">Shart</a>
                        </li>
                        <li><a href="#">T-Shart</a>
                        </li>
                        <li><a href="#">Belts</a>
                        </li>
                        <li><a href="#">Wallets</a>
                        </li>
                        <li><a href="#">Hates & Caps</a>
                        </li>
                        <li><a href="#">Sunglasses</a>
                        </li>
                        <li><a href="#">Neckties</a>
                        </li>
                    </ul>
                    <!-- .cd-secondary-dropdown -->
                </li>
                <!-- .has-children -->
                <li>	<a href="contact-us.html">More Category</a>
                </li>
            </ul>
            <!-- .cd-dropdown-content -->
        </nav>
        <!-- .cd-dropdown -->
    </div>
    <div class="prs_menu_main_wrapper">
        <nav class="navbar navbar-default">
            <div id="dl-menu" class="xv-menuwrapper responsive-menu">
                <div class="ss_menu_btn dl-trigger" id="menu_click">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <div class="clearfix"></div>
                <ul class="dl-menu">
                    <li class="parent"><a href="#" routerLink="/home">Home &nbsp;</a>
                    
                    </li>
                   
                    <li class="parent"><a href="#">Blog &nbsp;</a>
                       
                    </li>
                   
                    <li class="parent" ><a routerLink="/products">Products</a>
                        
                    </li>

                    <li class="parent" ><a routerLink="/orders"> Orders</a>

                    </li>



                    <li class="parent" ><a routerLink="/contact-us">Contact</a>

                    </li>


                    <li class="parent visible-xs"><a href="#">Cart &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                        <ul class="lg-submenu">
                            <li>
                                <div class="ss_cart_inner_main_section">
                                    <div class="ss_cart_img_wrapper">
                                        <img src="assets/images/header/cart_img.jpg" alt="cart_img">
                                    </div>
                                    <div class="ss_cart_img_cont_wrapper">
                                        <h3><a href="#">Product item</a></h3>
                                        <h4>Product category</h4>
                                        <span>x</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ss_cart_inner_main_section">
                                    <div class="ss_cart_img_wrapper">
                                        <img src="assets/images/header/cart_img.jpg" alt="cart_img">
                                    </div>
                                    <div class="ss_cart_img_cont_wrapper">
                                        <h3><a href="#">Product item</a></h3>
                                        <h4>Product category</h4>
                                        <span>x</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /dl-menuwrapper -->
        </nav>
    </div>
    <div class="ss_right_menu">
        <ul>
            <li class="ss_menu_toggle_text"><a href="#">Menu</a>
            </li>
            <li class="ss_menu_toggle_text2"><a href="#">20% Today’s Deals</a>
            </li>
            <li class="ss_menu_toggle_text2"><a href="#">Customer Service</a>
            </li>
        </ul>
    </div>
</div>