<app-header></app-header>
<app-middle-header></app-middle-header>
<app-navbar></app-navbar>
<!-- Slider Wrapper End -->
<!-- ss inner title Wrapper Start -->
<div class="ss_inner_title_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="ss_inner_title_cont_wrapper">
                    <ul>
                        <li><a href="#"><i class="fa fa-home"></i></a>&nbsp;&nbsp; ></li>
                        <li>Products&nbsp;&nbsp; ></li>
                        <li>Details&nbsp;&nbsp; </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ss inner title Wrapper End -->
<!-- CC ps top product Wrapper Start -->
<div class="cc_ps_top_product_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="video_img_section_wrapper">
                    <div class="video_nav_img hidden-xs">

                    </div>
                    <div class="cc_ps_top_slider_section">
                        <div class="owl-carousel">
                            <div class="item" id="{{product.variantes[0].idVariante}}">
                                <img class="small img-responsive" src="{{product.variantes[0].urlImages[0]}}" alt="small_img" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="video_nav_img visible-xs">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#zero">
                                                <img src="images/content/li_img1.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#one">
                                                <img src="images/content/li_img2.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#two">
                                                <img src="images/content/li_img3.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-3 cc_ps_tabs">
                                            <a class="button secondary url owl_nav" href="#three">
                                                <img src="images/content/li_img4.jpg" class="img-responsive" alt="nav_img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="cc_ps_cart_btn_wrapper">
                                    <div class="cc_ps_cart_btn">
                                        <ul>
                                            <li><a href="#" id="{{product.variantes[0].idVariante}}" routerLink="/checkout"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                                            </li>

                                            <li><a href="#"><i class="fa fa-expand"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="btc_shop_single_prod_right_section">
                    <div class="btc_shop_sin_pro_icon_wrapper">
                        <i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
							<p>10 Reviews <span><a href="#">Add Your Review</a></span>
							</p>
                        <div class="ss_featured_products_box_img_list_cont ss_featured_products_box_img_list_cont_single">
                            <h2><a href="#">{{product.name}}</a></h2>
                            <ins>{{product.variantes[0].prix | currency}}</ins>
                            <h5>{{product.description}}</h5>
                        </div>
                        <div class="btc_shop_prod_quanty_bar">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="cc_ps_deliv_main_wrapper">
										<div class="cc_ps_deliv_heading">
											<p>Delivery :</p>
										</div>
										<div class="cc_ps_deliv_wrapper">
											<div class="cc_ps_searchbar_wrapper">
												<input type="text" placeholder="Enter Delivery Pincode">
												<button>CHECK</button>
											</div>
										</div>
										<div class="cc_ps_bottom_cont_heading_wrapper">
											<p>Policys :</p>
										</div>
										<div class="cc_ps_bottom_cont_list_wrapper">
											<ul>
												<li>- Security policy (edit with module Customer reassurance)</li>
												<li>- Delivery policy (24 Hrs. Delivery policy)</li>
												<li>- Return policy (within 15 days return policy)</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CC ps top product Wrapper End -->
<!-- accordion section start -->

<!-- accordion section end -->
<!-- Latest Products Wrapper Start -->
<div class="ss_footer_wrapper">
    <app-footer-up></app-footer-up>
    <app-footer-middle></app-footer-middle>
    <app-footer-down></app-footer-down>
  </div>