<div class="ss_middle_footer_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ss_payfooter_wrapper">
                    <h4>Payment Getways</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-cc-mastercard" aria-hidden="true"></i></a>
                        </li>
                    
                        <li><a href="#"><i class="fa fa-cc-visa" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-cc-stripe" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ss_socialfooter_wrapper">
                    <h4>connect always</h4>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>