<div class="ss_mixproducts_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="ss_feat_cate_wrapper">
                    <div class="ss_heading_box">
                        <div class="ss_heading">
                            <h3>Top Rated</h3>
                        </div>
                    </div>
                    <app-top-rated></app-top-rated>
                    
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
               <app-featured-categories></app-featured-categories>
                <app-latest-best-sellers></app-latest-best-sellers>
            </div>
        </div>
    </div>
</div>