<div class="ss_middle_header_wrapper">
    <div class="ss_logo">
        <a href="index.html">
            <img src="assets/images/header/logo.png" alt="Logo" title="big basket" class="img-responsive">
        </a>
    </div>
    <div class="ss_info_area">
        <ul>
            <li>
                <div class="ss_search_box">
                    <span>
                        <input type="text" placeholder="Search for products">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>
                </div>
                
            </li>
            <li>
                <div class="ss_notification_box">
                    <ul>
                        
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>0</span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>2</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="ss_login_box">	<a routerLink="/sign-in"><span>Login or Register</span> </a>
                </div>
            </li>
            <li>
                <div class="ss_cart_value dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" [routerLink]="['/checkout', 1]">
                        
                        <img src="assets/images/header/cart_icon.png" alt="Cart" title="Cart">	<span> My cart</span>
                        <ul class="dropdown-menu">
                        
                           



                            


                    





                        </ul>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>