<div class="ss_middle_header_wrapper">
    <div class="ss_logo">
        <a href="index.html">
            <img src="assets/images/header/logo.png" alt="Logo" title="big basket" class="img-responsive">
        </a>
    </div>
    <div class="ss_info_area">
        <ul>
            <li>
                <div class="ss_search_box">
                    <select>
                        <option value="c1">All Categories</option>
                        <option value="c2">Category 1</option>
                        <option value="c3">Category 2</option>
                        <option value="c4">Category 3</option>
                    </select>	<span>
                    <input type="text" placeholder="Search for products">
                    <button><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
                </div>
            </li>
            <li>
                <div class="ss_notification_box">
                    <ul>
                        <li><a href="#"><i class="fa fa-random" aria-hidden="true"></i><span>3</span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>0</span></a>
                        </li>
                        <li><a href="#"><i class="fa fa-bell" aria-hidden="true"></i><span>2</span></a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="ss_login_box">	<a routerLink="/sign-in"><span>Login or Register</span> <img src="assets/images/header/user_icon.png" alt="Login" title="Login" class="img-responsive"></a>
                </div>
            </li>
            <li>
                <div class="ss_cart_value dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>3</p>
                        <img src="assets/images/header/cart_icon.png" alt="Cart" title="Cart">	<span>cart: <ins>$ 25.00</ins></span>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="ss_cart_inner_main_section">
                                    <div class="ss_cart_img_wrapper">
                                        <img src="assets/images/header/cart_img.jpg" alt="cart_img">
                                    </div>
                                    <div class="ss_cart_img_cont_wrapper">
                                        <h3>Product item</h3>
                                        <h4>Product category</h4>
                                        <span>x</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ss_cart_inner_main_section ss_cart_inner_main_section2">
                                    <div class="ss_cart_img_wrapper">
                                        <img src="assets/images/header/cart_img.jpg" alt="cart_img">
                                    </div>
                                    <div class="ss_cart_img_cont_wrapper">
                                        <h3>Product item</h3>
                                        <h4>Product category</h4>
                                        <span>x</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="ss_cart_inner_main_section ss_cart_inner_main_section2">
                                    <div class="ss_cart_img_wrapper">
                                        <img src="assets/images/header/cart_img.jpg" alt="cart_img">
                                    </div>
                                    <div class="ss_cart_img_cont_wrapper">
                                        <h3>Product item</h3>
                                        <h4>Product category</h4>
                                        <span>x</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="checkout.html" class="ss_check_btn">Checkout</a>
                            </li>
                        </ul>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>