<app-header></app-header>
    <div class="checkout-page">
        <div class="container">
            <!--Checkout Details-->
            <div class="checkout-form">
                <div class="row clearfix">
                    <!--Column-->
                    <div class="column col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
                            <h1>BILLING DETAILS </h1>
                        </div>
                        <div class="row clearfix">

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">First Name <sup>*</sup></div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Last Name </div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Company Name</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Email Address</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Phone</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Country</div>
                                <select>
                                    <option>Morocco</option>
                                    <option>Pakistan</option>
                                    <option>India</option>
                                    <option>Australia</option>
                                    <option>Usa</option>
                                </select>
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Address</div>
                                <input type="text" name="field-name" value="" placeholder="Street address">
                                <input type="text" name="field-name" value="" placeholder="Apartment,suite,unit etc. (optional)">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Town/City</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">State / County</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Postcode/ ZIP</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                        </div>
                    </div>
                    <!--Column-->
                    <div class="column col-md-6 col-sm-12 col-xs-12 checkout_form_2_wrapper">
                        <div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
                            <h1>SHIP TO A DIFFERENT ADDRESS? </h1>
                        </div>

                        <div class="row clearfix">

                            <!--Form Group-->
                            <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">First Name <sup>*</sup></div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div> -->

                            <!--Form Group-->
                            <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Last Name </div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div> -->

                            <!--Form Group-->
                            <!-- <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Company Name</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div> -->

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Country</div>
                                <select>
                                    <option>Morocco</option>
                                    <option>Pakistan</option>
                                    <option>India</option>
                                    <option>Australia</option>
                                    <option>Usa</option>

                                </select>
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Address</div>
                                <input type="text" name="field-name" value="" placeholder="Street address">
                                <input type="text" name="field-name" value="" placeholder="Apartment,suite,unit etc. (optional)">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Town/City</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">State / County</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <div class="field-label">Postcode/ ZIP</div>
                                <input type="text" name="field-name" value="" placeholder="">
                            </div>

                            <!--Form Group-->
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <div class="field-label">Other Notes</div>
                                <textarea class="" placeholder="Notes about your order,e.g. special notes for delivery."></textarea>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <!--End Checkout Details-->

            <!--Order Box-->
            <div class="order-box">
                <div class="btc_shop_single_prod_right_section related_pdt_shop_head checkout_heading">
                    <h1>your order </h1>
                </div>
                <div class="title-box">
                    <div class="col">PRODUCT</div>
                    <div class="col">TOTAL</div>
                </div>
                <ul>
                    <li class="clearfix"><strong>Patient Ninja 1</strong><span>$35.00</span></li>
                    <li class="clearfix">Sub Total<span>$35.00</span></li>
                    <li class="clearfix">Shipping<span class="free">Free Shipping</span></li>
                    <li class="clearfix">TOTAL<span>$35.00</span></li>
                </ul>
            </div>
            <!--End Order Box-->

            <!--Payment Box-->
            <div class="payment-box">
                <div class="upper-box">

                    <!--Payment Options-->
                    <div class="payment-options">
                        <ul>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-2" checked>
                                    <label for="payment-2"><strong>Direct Bank Transfer</strong><span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-1">
                                    <label for="payment-1"><strong>Check Payments</strong><span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                                </div>
                            </li>

                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-3">
                                    <label for="payment-3"><strong>Cash on Delivery</strong><span class="small-text">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</span></label>
                                </div>
                            </li>
                            <li>
                                <div class="radio-option">
                                    <input type="radio" name="payment-group" id="payment-4">
                                    <label for="payment-4"><strong>PayPal</strong><span class="image"><img src="images/content/paypal.jpg" alt="" /></span></label>
                                    <a href="#" class="what-paypall">What is PayPal?</a>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="lower-box text-right">
                    <div class="shop_btn_wrapper checkout_btn">
                        <ul>
                            <li><a href="#">place order</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--End Payment Box-->

        </div>

    </div>
    <div class="ss_footer_wrapper">
        <app-footer-up></app-footer-up>
        <app-footer-middle></app-footer-middle>
        <app-footer-down></app-footer-down>
      </div>

  