<tr>
    <td>
        4
    </td>
    <td>
        <div class="table_cart_img">
            <figure>
                <img src="images/content/cart_1.png" alt="" />
            </figure>
        </div>
        <div class="table_cart_cntnt">
            <h1>Brand new phone</h1>
            <p>color : black </p>
        </div>
    </td>
    <td></td>
    <td class="cart_page_price">$199.00</td>
    <td>
        <input value="1" type="number" />
    </td>
    <td class="cart_page_totl">$299.00</td>
    <td>
        <a href="#"> <i class="fa fa-trash"></i></a>
    </td>
</tr>