<div class="ibox-content">
    <div class="table-responsive">
        <table class="table shoping-cart-table">
            <tbody>
            <tr>
                <td width="90">
                    <div class="cart-product-imitation">
                        <img src={{image}} alt="">
                    </div>
                </td>
                <td class="desc">
                    <h3>
                    <a href="#" class="text-navy">
                       {{title}}
                    </a>
                    </h3>
                    
                    <dl class="small m-b-none">
                        <dt>{{description}}</dt>
                    </dl>

                    <div class="m-t-sm">
                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                        |
                        <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                    </div>
                </td>

               
                <td width="65">
                    <input type="number" class="form-control" min="1" placeholder="1">
                </td>
                <td>
                    <h4>
                       {{price}}
                    </h4>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


