<li class="yamm-tfw menu-item menu-item-has-children animate-dropdown dropdown">	<a title="Cameras, Audio &amp; Video" data-hover="dropdown" href="product-category.html" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa {{icon}}" aria-hidden="true"></i>{{title}}</a>
    <ul role="menu" class=" dropdown-menu">
        <li class="menu-item animate-dropdown menu-item-object-static_block">
            <div class="yamm-content">
                <div class="row bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
                    <div class="col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_single_image wpb_content_element vc_align_left">
                                    <figure class="wpb_wrapper vc_figure">
                                        <div class="vc_single_image-wrapper vc_box_border_grey">
                                            <img src="assets/images/content/woman.jpg" class="vc_single_image-img attachment-full" alt="">
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <ul>
                                            <li class="nav-title">Womens</li>
                                            <li><a href="#">Shart</a>
                                            </li>
                                            <li><a href="#">T-Shart</a>
                                            </li>
                                            <li><a href="#">Belts</a>
                                            </li>
                                            <li><a href="#">Wallets</a>
                                            </li>
                                            <li><a href="#">Hates & Caps</a>
                                            </li>
                                            <li><a href="#">Sunglasses</a>
                                            </li>
                                            <li><a href="#">Neckties</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</li>