<div class="ss_toprated_slider">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="ss_toprated_slider_box">
                <ul>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs1.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs2.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs3.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs4.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="item">
            <div class="ss_toprated_slider_box">
                <ul>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs4.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs3.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs2.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="assets/images/content/trs1.jpg" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#">Mobile Phone</a></h4>
                            <ins>$299.00</ins> 	<del>$199.00</del>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>