<div class="ss_toprated_slider">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <div class="ss_toprated_slider_box">
                <ul>
                    <li>
                        <div class="ss_toprated_slider_box_img">
                            <a href="#">
                                <img src="{{image}}" alt="Product">
                            </a>
                        </div>
                        <div class="ss_toprated_slider_box_text">
                            <h4><a href="#"> {{title}}</a></h4>
                            <ins>${{price}}</ins> &nbsp;	<del>$199.00</del>
                        </div>
                </ul>
            </div>
        </div>
    </div>
</div>