<app-header></app-header>
<app-middle-header></app-middle-header>
<!-- <app-menu></app-menu> -->
<app-navbar></app-navbar>
<app-slider></app-slider>
<app-wrapper></app-wrapper>
<app-featured-products></app-featured-products>
<app-latest-products></app-latest-products>
<app-services></app-services>
<app-mixproducts></app-mixproducts>
<app-news-wrapper></app-news-wrapper>
	<div class="ss_footer_wrapper">
	  <app-footer-up></app-footer-up>
	  <app-footer-middle></app-footer-middle>
	  <app-footer-down></app-footer-down>
	</div>
<script>
    $(window).on("load", function () {
      var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile: true,
        live: true
      });
      wow.init();
    });

    // CountDown Js
    var deadline = 'December 31 2020 23:59:59 GMT+0530';

    function time_remaining(endtime) {
      var t = Date.parse(endtime) - Date.parse(new Date());
      var seconds = Math.floor((t / 1000) % 60);
      var minutes = Math.floor((t / 1000 / 60) % 60);
      var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
      var days = Math.floor(t / (1000 * 60 * 60 * 24));
      return {
        'total': t,
        'days': days,
        'hours': hours,
        'minutes': minutes,
        'seconds': seconds
      };
    }

    function run_clock(id, endtime) {
      var clock = document.getElementById(id);

      // get spans where our clock numbers are held
      var days_span = clock.querySelector('.days');
      var hours_span = clock.querySelector('.hours');
      var minutes_span = clock.querySelector('.minutes');
      var seconds_span = clock.querySelector('.seconds');

      function update_clock() {
        var t = time_remaining(endtime);

        // update the numbers in each part of the clock
        days_span.innerHTML = t.days;
        hours_span.innerHTML = ('0' + t.hours).slice(-2);
        minutes_span.innerHTML = ('0' + t.minutes).slice(-2);
        seconds_span.innerHTML = ('0' + t.seconds).slice(-2);

        if (t.total <= 0) {
          clearInterval(timeinterval);
        }
      }
      update_clock();
      var timeinterval = setInterval(update_clock, 1000);
    }
    run_clock('clockdiv', deadline);

  </script>
